<style type="text/css">
	
  	/* SQUARESPACE CSS EDITS */
  	
  	 .ProductItem-details h1.ProductItem-details-title {
      color: #2a3439;
      font-family: Montserrat-Regular;
      padding-bottom: .5em;
      font-style: normal;
      letter-spacing: .1em;
      font-size: 2.5em;
  	}
  	.ProductItem-nav {
      margin-top: 150px;
      margin-left: 2em;
  }
  
  .ProductItem-nav-pagination {
    display: none !important;
  }
  	@media (max-width: 650px) {
          
          .ProductItem-details {
          	margin: 0 2em !important;
          }
  	}
  
  
</style>